<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyQ_X_qF-rdJKIJT3fhZqE0SmgBCX1-mo</string>
	<key>GCM_SENDER_ID</key>
	<string>64599066981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listeDesTaches.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>listesdestaches</string>
	<key>STORAGE_BUCKET</key>
	<string>listesdestaches.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64599066981:ios:504dee56c39fae357bb98c</string>
</dict>
</plist>